extends layout

block content
  #mainBox.container-fluid
    .content
      #main-all.row
        h3 모든조사
        table.table.table-hover
          thead.text-center
            tr
              td.col-md-6.col-xs-6 제목
              td.col-md-2.col-xs-2 조회수
              td.col-md-2.col-xs-2 등록일
              td.col-md-2.col-xs-2 마감일
          tbody
            for all in all_list
              tr
                td
                  a(href='/vote/'+all.id)= all.question
                td.text-center= all.count
                td.text-center= moment(all.create_time).format('YYYY-MM-DD HH:mm')
                td.text-center= moment(all.finish_time). format('YYYY-MM-DD HH:mm')
            tr
              td.text-center(colspan=4) ...
            tr
              td.text-center(colspan=4)
                a(href='/all') 더보기+
      br
      #main-new.row
        h3 새로운 조사
        table.table.table-hover
          thead.text-center
            tr
              td.col-md-6.col-xs-6 제목
              td.col-md-2.col-xs-2 조회수
              td.col-md-2.col-xs-2 등록일
              td.col-md-2.col-xs-2 마감일
          tbody
            for new_ in new_list
              tr
                td
                  a(href='/vote/'+new_.id)= new_.question
                td.text-center= new_.count
                td.text-center= moment(new_.create_time).format('YYYY-MM-DD HH:mm')
                td.text-center= moment(new_.finish_time). format('YYYY-MM-DD HH:mm')
            tr
              td.text-center(colspan=4) ...
            tr
              td.text-center(colspan=4)
                a(href='/new') 더보기+
      br
      #main-time.row
        h3 마감임박 조사
        table.table.table-hover
          thead.text-center
            tr
              td.col-md-6.col-xs-6 제목
              td.col-md-2.col-xs-2 조회수
              td.col-md-2.col-xs-2 등록일
              td.col-md-2.col-xs-2 마감일
          tbody
            for time in time_list
              tr
                td
                  a(href='/vote/'+time.id)= time.question
                td.text-center= time.count
                td.text-center= moment(time.create_time).format('YYYY-MM-DD HH:mm')
                td.text-center= moment(time.finish_time). format('YYYY-MM-DD HH:mm')
            tr
              td.text-center(colspan=4) ...
            tr
              td.text-center(colspan=4)
                a(href='/time') 더보기+

  #footer.container.visible-md.visible-lg
    hr
    .row
      .col-md-4
        strong 2015 홀가분 (HOLGABUN)
      .col-md-3.col-md-offset-5.text-right
        a(href="mailto:enon.jeong@gmail.com") enon.jeong@gmail.com