extends layout

block style
  link(rel = "stylesheet" href = "/style/dist/user.css")
block script

block content
  #mainBox.container
    #user
      form.form-horizontal#userInfo()
        .row.form-group
          .col-sm-3
            #userImg
            input.form-control#u_img(type='file' name='u_img')
          .col-sm-9
            .row.form-group
              .col-sm-4
                label 이름
                input.form-control#u_name(type='text' name='u_name' value=user.u_name)
              .col-sm-4
                label 이메일
                input.form-control#u_email(type='text' name='u_email' value=user.u_email)
              .col-sm-4
                label 휴대번호
                input.form-control#u_ph(type='text' name='u_ph' value=user.u_ph)
            .row.form-group
              .col-sm-12
                label 자기소개
                  small &nbsp;&nbsp;간단한 자기소개를 적어주세요~
                textarea.form-control#u_self(rows=5 name='u_self')= u_self
            .row.form-group
              .col-sm-4
                button.btn.btn-block 저장
    #voteList
      .row
        .col-sm-4
          for vote in voteList
            h4= vote.question
            label 시작일:&nbsp;&nbsp;
              small= vote.createAt
            label 마감일:&nbsp;&nbsp;
              small= vote.finishAt
