extends layout

block style
  link(rel="stylesheet" href="/style/dist/user.css")
block script

block content
  .user.container-fluid
    .content
      .row
        .col-sm-3
          //- p= user.u_id
          #user_img(style='width: 100%; height: 250px; background-size: 100% 250px; background: url("/img/user-icon.png") no-repeat;')
          //- if user.u_id === v_user.u_id
          //-   input.form-control#u_img(type='file' name='u_img')
        .col-sm-9
          .row
            .col-sm-8
              h3#u_name(name='u_name')= v_user.u_name
            if user.u_id === v_user.u_id
              .col-sm-4.text-right
                a(href='/user/update/'+v_user.u_id) 정보변경
          hr
          .row
            .col-sm-4
              label 이메일
              p#u_email(name='u_email')= v_user.u_email
            .col-sm-4
              label 휴대번호
              p#u_ph(name='u_ph')= v_user.u_ph
            .col-sm-4
              label 자기소개
              p#u_self(name='u_self')= v_user.u_self
      hr
      .row#user_vote_list
        if user.u_id === v_user.u_id
          .col-sm-4.text-center
            a(href='/vote/create')
              .vote_box
                h4 새로운 조사 만들기 +
        each vote in vote_list
          .col-sm-4
            a(href='/vote/'+vote.id)
              #user_vote.vote_box
                h4= vote.question
                label 시작일:&nbsp;&nbsp;
                  small= moment(vote.create_time).format('YYYY-MM-DD HH:mm')
                br
                label 마감일:&nbsp;&nbsp;
                  small= moment(vote.finish_time).format('YYYY-MM-DD HH:mm')
                br
                label 조회수:&nbsp;&nbsp;
                  small= vote.count

      if user.u_id === v_user.u_id
        .row
          .col-sm-12
            a(href='/user/'+user.u_id+'/logout') 로그아웃
