extends layout

block style
  link(rel = "stylesheet" href = "/style/dist/vote.css")
block script
  script(type = "text/javascript" src = "/Chart.js/Chart.min.js")

block content
  #vote.container-fluid
    .content
      .row
        .col-md-12.text-center
          h2= vote.question
      //- form#vote_form(method='POST')
      form#vote_form(action='/vote/'+vote.id method='POST')
        .row
          .col-sm-12
            ul#answer_list
              if vote.question_type === 'check'
                for answer in vote.answer
                  .form-group
                    li.form-control
                      if user.u_id !== vote.u_id && vote.finish_vote !== 'Y'
                        input#answer(type='checkbox' value='#{answer.label}' name='answer')
                      | &nbsp;&nbsp;
                      span #{answer.label}
                if vote.ath === 'Y'
                  .form-group
                    span 기타 답변
                    li
                      if user.u_id !== vote.u_id && vote.finish_vote !== 'Y'
                        input.form-control(type='text' name='answer' placeholder='보기 이외의 답변을 할 수 있습니다.')
                      else
                        input.form-control(type='text' name='answer' placeholder='보기 이외의 답변을 할 수 있습니다.' disabled)
              else if vote.question_type === 'description'
                if user.u_id !== vote.u_id && vote.finish_vote !== 'Y'
                  .form-group
                    textarea.form-control(name='answer' placeholder='답변을 해주세요.')
                else
                  .form-group
                    textarea.form-control(name='answer' placeholder='답변을 해주세요.' disabled)

        .row
          .col-sm-4.col-sm-offset-4
            if user.u_id !== vote.u_id && vote.finish_vote !== 'Y'
              .form-group
                button#vote_ok_btn.btn.btn-block(type='submit' onclick='vote_ok()') 투표하기
                //- button#voteOkBtn.btn.btn-block(onclick='vote_ok(#{vote.id}') 투표하기
          if user.u_id === vote.u_id
            .col-sm-4
              .form-group.text-right
                a(href='/vote/update/'+vote.id) 수정하기
      if vote.secret === 'Y' || user.u_id === vote.u_id
        .row#vote_result
          .col-sm-12
            h2 결과
            for answer in vote.answer
              if vote.question_type === 'check'
                p #{answer.label} : #{answer.count}
              else
                p #{answer}

